.git
.github
.vscode

node_modules
**/node_modules

.turbo
**/.turbo

.next
**/.next

dist
**/dist

*.log

.env
.env.*
**/.env
**/.env.*

coverage
**/coverage

apps/web/.next/cache
apps/web/.next/cache/**
apps/api/dist
apps/web/dist
packages/*/dist

apps/web/public/tinymce
**/public/tinymce